@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #24252a;
}
input {     
  outline: none;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: #287aa7;
} 
h1 {
  color:#edf0f1;    
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin-bottom: 30px;
  margin-top: -15px;
  font-weight: 550;
  font-size: 34px;
}
form {
  position: relative;
  width: 50%;
  border-radius: 30px;
  background: #fff;
}
.form-left-decoration,
.form-right-decoration {
  content: '';
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background: #287aa7;
}
.form-left-decoration {
  bottom: 60px;
  left: -30px;
}
.form-right-decoration {
  top: 60px;
  right: -30px;
}
.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: #24252a;
}
.form-left-decoration:before {
  top: -20px;
}
.form-left-decoration:after {
  top: 20px;
  left: 10px;
}
.form-right-decoration:before {
  top: -20px;
  right: 0;
}
.form-right-decoration:after {
  top: 20px;
  right: 10px;
}
.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #24252a;
}
.form-inner {
  padding: 40px;
}
.form-inner input {
  display: block;
  width: 100%;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 20px;
  background: #979b9e;
  border: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#616370;
  font-weight: 400;
  font-family: sans-serif;
}

input[type='text'],
input[type='email'],
input[type='password']{
  border: 1px solid  #2c2d31;
  color: #175472;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;

}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus{
  outline: none;
  box-shadow: 0px 0px 5px rgba(5, 109, 134, 0.8);
  border: 1px solid rgba(5, 109, 134, 0.8);
  transition: all 0.2s linear;
}

input[type='text']:focus:hover,
input[type='email']:focus:hover,
input[type='password']:focus:hover {
  outline: none;
  box-shadow: 0px 0px 5px rgba(5, 109, 134, 0.8);
  border: 1px solid rgba(5, 109, 134, 0.8);
  border-radius: 0;
  transition: all 0.2s linear;
}
.signup-button {
  border: none;
  font-weight: 500;
  line-height: 1;
  width: 100%;
  padding: 13px;
  margin-top: 20px;
  border-radius: 20px;
  font-size: 17px;
  color: #287aa7;
  background: #fff;
  color: #ffffff;
  background: #287aa7;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: 'Montserrat', sans-serif;
}

.signup-button:hover {
  background-color: rgba(5, 109, 134, 0.8);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.596);
}

.already-account {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

.already-account-text {
   color:#a0aaaf;
}


.already-account-link {
    font-weight: 500;
    font-size: 14px;
    color:#287aa7;
    text-decoration: none;
    padding-left: 2px;
 }

 .already-account-link:hover {
    text-decoration: underline;
    color:rgba(5, 109, 134, 0.8);
    transition: all 0.2s ease-in-out;
 }


#mail:valid {
  background: #c8cad6;
}

@media (min-width: 568px) {
  form {
    width: 50%;
  }
}


